body {
  justify-content: center;
  display: flex;
  margin: 42px;
}

#screen {
  display: flex;
  box-sizing: border-box;
  width: 300px;
  height: 480px;
  border-radius: 15px;
  padding: 12px 18px;
  border: 1px solid black;
}

#screen .content {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: space-between;
}

#chat-board {
  margin: 0;
  padding: 0;
  flex: 1 1 100%;
  overflow-y: scroll;
}

#chat-board ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#chat-board .message-wrapper {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  height: 42px;
}

#chat-board .message {
  font-size: 16px;
  align-items: center;
  display: flex;
  width: fit-content;
  min-width: 42px;
  height: 42px;
  padding: 0px 18px;
  border-radius: 15px;
}

#chat-board .message-sent {
  background-color: #92b0eb;
  align-self: flex-end;
}

#chat-board .message-received {
  background-color: #b0eb92;
}

#chat-form form {
  display: flex;
  align-items: center;
}

#chat-form input,
#chat-form button {
  border-radius: 20px;
  margin: 4px;
  padding: 0;
  outline: none;
}

#chat-form input {
  flex: 3;
  height: 24px;
  border: 1px solid black;
  padding-left: 12px;
}

#chat-form button {
  flex: 1;
  height: 28px;
  border: 1px solid black;
  cursor: pointer;
}
img {
  width: 18px;
  height: 20px;
  margin: 17px;
}
.message-received,
p.clientName {
  font-size: 10px;
  margin-left: -5px;
  margin-bottom: 5px;
}
.message-sent,
p.clientName {
  font-size: 10px;
  margin-bottom: 35px;
  padding: 5px;
}
.message .message-sent {
  font-size: 25px;
  background: black;
}
.message-received {
  font-size: 18px;
}
